repos:
  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
        language_version: python3
      - id: black-jupyter

  # pytest는 로컬 명령이므로 repo: local로 분리해야 함
  - repo: local
    hooks:
      - id: pytest
        name: pytest (pre-push)
        entry: uv run pytest -vv -s
        language: system
        pass_filenames: false
        stages: [push]
